extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new")  Click here to add a new message!
  ul 
    each message in messages
      li #{message.user}
      li #{message.text}
      li #{message.added}
      br
